
*{
    box-sizing: border-box;
    
}

#title{

    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(33, 103, 160));
    color: white;
}

#search-button{
    background-color: rgb(33, 103, 160);
    width: 100%;
}

body {
    
    font-size: 16px;
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}

li:hover{
    background-color: rgb(173, 203, 232);
    text-decoration: underline;
}
